.mp {
  &-dialog {
    &-veil {
      background: rgba(0, 0, 0, .7);
      opacity: 0;
      width: 100vw;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 100%;
      transition: left .1s ease-in-out, opacity .5s ease-in-out;

      &--enable {
        left: 0;
        opacity: 1;
      }
    }

    &-panel {
      position: fixed;
      right: -100%;
      height: 100vh;
      transition: all .35s ease-in-out;

      &--opened {
        right: 0;
      }
    }
  }
}
